.article-body-container{
    border-top: 1px solid lightgray;
    padding: 30px 0px 50px 0px;
}

.article-body-container p{
    color: #2F2C41;
}

.article-body-container li{
    color: #2F2C41;
}

.article-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.article-card-user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 4;
    cursor: pointer;
    min-width: 33%;
}

.article-card-user-container p{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.activity-list{
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin: 30px;
    text-align: center;
    width: 80%;
}

.introduction-card img{
    border-radius: 50%;
    padding: 5px;
    height: 100px;
    width: 100px;
}

.allActivity-banner{
    width: 100%;
}

.massage-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 80px;
  }

  .massage-container img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 20px;
  }

  .messagebar-container{
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
      padding: 20px;
      bottom: 0px;
  }

  .reaction-bar-container{
      display: flex;
      justify-content: space-between;
  }

  .reaction-bar-container img{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

  .messagebar-container img{
      width: 20px;
      height: 20px;
      margin: 10px;
      cursor: pointer;
  }

  .messagebar-container input{
      width: 78%;
  }

  .reaction-card{
    height: auto;
    width: 84%;
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
  }

  .profile-photo img{
    width: 40px;
    height: 40px;
    background: #a7bdbd26;
    border-radius: 50%;
    margin-right: 50px;
  }

  .introduction-card p{
    text-align: center;
    margin: 30px 50px;
}