.impact-questionnaires-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
}

#impact-questionnaire-icon-container img{
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-left: 10px;
}

#impact-questionnaire-icon-container{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#responses-count{
    cursor: pointer;
    margin-bottom: 10px;
}

#responses-count:hover{
    color: green;
}

#respons-overview-container{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}