.impact-questionnaires-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#impact-questionnaire-icon-container img{
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-left: 10px;
}

#impact-questionnaire-icon-container{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#responses-count{
    cursor: pointer;
    margin-bottom: 10px;
}

#responses-count:hover{
    color: green;
}

#respons-overview-container{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.question-analyse-container{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

#questionnaire-analysis-container{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

#impact-progress-questionnaire-container{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 30px;
}

.stakeholder-container{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

.stakeholder-container p{
    margin-right: 10px;
}

#stakeholder-email-container{
    display: flex;
}

#stakeholder-email-container p{
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
}

#button-save-questionnaire-goal{
    margin-top: 20px;
    text-align: left;
}

.delete-field-icon{
    margin-top: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.send-questionnaire-title h2 {
    text-align: center;
}

.card-header-add-questionnaire h1{
    border-bottom: 1px dotted lightgray;
}

#questionnaire-field-text{
    border: 1px dotted lightgray;
    padding: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

#questionnaire-question{
    margin-top: 10px;
    width: 95%;
}

.question-type-display-container{
  padding: 20px 10px 20px 10px;
  margin: 20px 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#scale-reach-symbol{
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
}

.email-example-container{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.email-example-field-container{
    border-bottom: 1px solid lightgray;
    width: 90%;
}

.send-questionnaire-title h3{
  text-align: center;
}

.email-example-section button{
    margin-top: 30px;
}

.select-scale-container input{
  border-bottom: 1px dotted lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  border-right: none;
  padding-bottom: 5px;
  margin-left: 10px;
}

#scale-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

#scale-container input{
    box-shadow: none;
    width: 11px;
    margin-bottom: 5px;
}

#question-type-label-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-scale-container{
    margin-top: 10px;
}

#activity-outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-inner-container-dashboard{
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    padding: 10px;
}

#output-container{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.output-instrument-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background-color: white;
}

.impact-dashboard-output-container{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.dashboard-instruments-container{
    padding: 20px;
    border-radius: 5px;
}

.dashboard-internal-results-container{
    background-color: white;
    border-radius: 5px;
}

.output-instrument-inner-container{
    display: flex;
    flex-direction: column;
}

.output-instrument-inner-container p{
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.add-instrument-button{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.icon-container-activities{
    margin-right: 10px;
    margin-left: auto;
}

.icon-container-activities img{
    margin-right: 10px;
}

#print-questionnaire-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#print-questionnaire-container img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.next-step-impact{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.next-step-impact img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.functionality-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
}

.group-settings-banner{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.functionality-container p{
    margin: 0px;
    font-weight: bold;
}

#number-indicators-output{
    margin-left: 20px;
}

#impact-dasboard-goal-banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#impact-dasboard-activity-banner{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.create-questionnaire-field-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.create-questionnaire-field-container input{
    width: auto;
    box-shadow: none;
    margin-right: 10px;
}

#impact-progress-goal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goal-meta-container{
    margin-left: 50px;
}

.goal-meta-title-container{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

.goal-meta-title-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.goal-meta-inner-container p{
    margin-left: 30px;
}

.activity-meta-title-container{
    display: flex;
    align-items: center;
}

.activity-meta-title-container img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.activity-meta-title-container p{
    margin-left: 30px;
}

@media only screen and (max-width: 1024px){

    .activity-inner-container-dashboard {
        width: 100%;
    }

    #goal-meta-container{
        margin-left: 10px;
    }
}

@media print { 
    .top-bar, .right-sidebar, .left-side-bar-container, #card-header-title, #print-questionnaire-container { 
        display: none !important; 
    } 
   }