.impact-questionnaires-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px;
}

#impact-questionnaire-icon-container img{
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-left: 10px;
}

#impact-questionnaire-icon-container{
    margin-left: auto;
    margin-right: 10px;
}