.left-side-bar{
    height: 100%;
    width: 20%;
    margin: 30px 0px 0px 50px;
}

.channel-div{
    margin-bottom: 30px;
}

.channel-inner-div{
    display: flex;
    flex-direction: column;
}

.channel-inner-div a{
    margin-bottom: 5px;
}

.plus-icon-sidebar{
    width: 15px;
    cursor: pointer;
}

