#middle-bar{
    width: 60%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#middle-bar h1{
    text-align: center;
}

.card{
    height: auto;
    min-height: 300px;
    width: 200px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article{
    height: auto;
    min-height: 300px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .delete-channel{
      height: 30px;
      width: 30px;
      cursor: pointer;
  }

  .list{
    height: auto;
    min-height: 300px;
    width: 90%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile{
    width: 55%;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 3px;
  }

  .list img{
      width: 100%;
  }

  .card img{
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

#profile-header-photo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

  .article img{
    width: 100%;
    margin: 0px 0px;
}

  .article-inner-div{
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .article h2{
      text-align: left;
  }

  .message-card{
    height: auto;
    width: 84%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
  }

  .card-overview{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .plus-icon{
      width: 35px;
      cursor: pointer;
      margin-top: 20px;
  }

  #add-goal-form{
      margin: 30px;
  }

  .goal-list{
      align-items: center;
  }

  #introductions-textarea{
    width: 70%;
    margin-bottom: 20px;
  }

  .photo-container-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0px;
  }

  .goalcard-body-div{
      padding: 20px;
      text-align: center;
  }

  .type-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
  }

  .save-bar{
      bottom: 0;
      position: sticky;
      background-color: white;
      display: flex;
      justify-content: center;
      padding: 20px;
  }

  .sub-title{
      text-align: center;
  }

  #login-form{
      width: 300px;
  }

  .spinner-container{
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  .spinner-container img{
      height: auto;
      width: 300px;
  }

  .save-bar button{
      border-radius: 3px;
      background-color: green;
      color: white;
      border-color: green;
  }

  .auth-name{
      margin-right: 5px;
      color: #2F2C41;
      cursor: pointer;
  }

  .goal-user-meta-container{
      display: flex;
      justify-content: space-between;
      width: 90%;
  }

  .goal-user-container{
      display: flex;
  }

  .goal-progress-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #a7bdbd26;
      width: 100%;
      margin-bottom: 20px;
  }

  .goal-user-container img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }

  .chats-overview-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      cursor: pointer;
  }

  .group-landing-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .group-landing-container img{
      width: 100%;
  }


  .chatpartner-meta-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }

  .chat-overview-username{
      margin-right: 10px;
      color: #2F2C41;
  }

  .chats-overview-container img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }

  #log-out-button{
    border-radius: 3px;
    background-color: red;
    color: white;
    border-color: red;
    margin: 5px;
  }

  .nav-title-container{
      display: flex;
      align-items: center;
  }

  .nav-title-container img{
      margin-left: 5px;
  }

  .settings-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .channel-container{
      display: flex;
      margin: 10px;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
  }

  .update-button-channel{
      display: none;
  }

  .goal-card-banner{
      width: 100%;
      height: 50%;
  }

  .new-group-container{
      margin-bottom: 20px;
  }

  .new-channel-container{
      margin-bottom: 20px;
  }

  .channel-container img{
      width: 20px;
      height: 20px;
      margin-left: 10px;
      cursor: pointer;
      justify-self: flex-end;
  }

  .layout-container{
      display: flex;
      justify-content: space-evenly;
  }

  #delete-account-button{
    border-radius: 3px;
    background-color: darkred;
    color: white;
    border-color: darkred;
    margin: 5px;
  }

  .type-container img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
  }

  .activity-list{
      align-items: center;
      padding: 20px 0px 20px 0px;
  }

  .allActivity-banner{
      width: 100%;
  }

  #search-bar{
      width: 70%;
      border-radius: 15px;
      padding: 10px;
  }

  #search-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #button-add-goal{
      display: flex;
      justify-content: center;
  }

  .massage-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 80px;
  }

  .massage-container img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 20px;
  }

  .messagebar-container{
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
      padding: 20px;
      width: 70%;
      bottom: 0px;
  }

  .reaction-bar-container{
      display: flex;
      justify-content: space-between;
  }

  .reaction-bar-container img{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

  .messagebar-container img{
      width: 20px;
      height: 20px;
      margin: 10px;
      cursor: pointer;
  }

  .messagebar-container input{
      width: 78%;
  }

  .reaction-card{
    height: auto;
    width: 84%;
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
  }

  .profile-photo img{
    width: 40px;
    height: 40px;
    background: #a7bdbd26;
    border-radius: 50%;
    margin-right: 50px;
  }

  .timestamp-public-profile{
      font-size: 12px;
      text-align: center;
  }

  #members-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 10px;
      width: 70%;
      cursor: pointer;
  }

  #members-total-count-container{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #members-total-count-container h4{
      padding: 10px;
      color: gray;
      border: 1px solid gray;
      border-radius: 50%;
      margin-left: 10px;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #members-container img {
      height: 80px;
      margin-right: 20px;
      border-radius: 50%;
  }

  .activity-card-banner{
      width: 100%;
  }

  .public-profile-photo{
      border-radius: 50%;
  }

  .public-profile-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .allActivity-user-photo{
      width: 35px !important ;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
  }

  .new-messages{
      color: #d11237;
      margin-left: 10px;
  }

  .description-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  #adjust-photo-profile{
      border-radius: 50%;
  }

  .username{
      margin-right: 5px;
      cursor: pointer;
      font-weight: bold;
  }

  .user-meta-goal-card{
      display: flex;
  }

  .user-goal-card{
      margin-left: 5px;
      cursor: pointer;
      color: #d11237;
  }

  .user-goal-card:hover{
      font-weight: bold;
  }

  .auth-message-container{
      display: flex;
  }

  .massage{
    color: #2F2C41;
  }

  .message-container{
      width: 100%;
  }

  .like-container img{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .auth-message-container img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
}

.message-card-timestamp{
    margin: 0px 0px 0px auto;
    font-size: 12px;
}

.messagebar-group-container{
    display: flex;
    align-items: center;
    bottom: 0px;
    top: auto;
    position: fixed;
    width: 50%;
    margin-bottom: 5px;

}

#welcome-banner{
    width: 100%;
}

.messagebar-group-container img{
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.messagebar-group-container textarea{
    min-height: 75%;
}

  .auth-message{
    cursor: pointer;
    margin-right: 5px;
    color: #d11237;
  }

  .goal-detail-container{
      padding-bottom: 90px;
  }

  .all-members-member-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
  }

  .all-members-member-container img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }

  .group-container{
      width: 55%;
      margin-top: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  .user-photo{
    height: 50px;
    width: 50px !important;
    border-radius: 50%;
    margin-right: 10px;
  }

  .notification-card{
      padding: 20px;
  }

  .user-meta-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
  }

  .button-login{
      margin-top: 20px;
  }

  .start-banner{
      margin-bottom: 50px;
  }

  .button-goal-message-container{
      margin-top: 20px;
  }

  .notification-message{
      cursor: pointer;
  }

  .notification-goal{
      cursor: pointer;
  }

  .notification-timestamp{
      color: lightgray;
  }

  .like-container{
      border: 1px solid lightgray;
      padding: 3px 0px;
      border-radius: 5px;
  }

  .previous-message-container{
      display: flex;
      margin-top: 20px;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      width: 85%;
  }

  .previous-message-container img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
  }

  .chat-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-bottom: 5px solid #a7bdbd60;
  }

  .header-title-container{
      display: flex;
  }

  .chat-header img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

  .chat-header h2{
      margin-left: 5px;
  }

  .chat-screen{
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: white;
      min-height: 80vh;
  }

  .user-message{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    margin: 15px 15px;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  }

  .auth-message{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    margin: 15px 15px;
    max-width: 50%;
    background-color: white;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%), 0 7px 21px 0 rgb(0 0 0 / 19%);
  }

  .sender-meta-container{
      display: flex;
      align-items: center;
  }

  .sender-photo{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 5px;
      cursor: pointer;
  }

  .sender-name{
      align-self: flex-end;
      font-size: 12px;
      font-weight: bold;
      margin-right: 10px;
      color: #2F2C41;
      cursor: pointer;
  }

  .sender-timestamp{
      align-self: flex-start;
      font-size: 12px;
  }

  .notifications-icon-message{
      width: 15px;
      align-self: left;
      cursor: pointer;
      margin-left: 2px;
  }

  .group-header{
      height: 150px;
      background-color: white;
      border-bottom: 1px solid rgba(0,0,0,.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .back-to-community-container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
  }

  .back-to-community-container img{
      width: 20px;
      height: auto;
      margin-right: 5px;
  }

  .introductions-list{
      min-height: 100px;
      padding: 20px 0px;
  }

  .introductions-list input{
      width: 70%;
  }

  .introductions-list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .activity-card-body{
      font-size: 16px;
      margin-top: 40px;
  }

  #plus-icon-goal-settings{
      width: 30px;
      height: 30px;
      margin-left: 10px;
  }

  .icon-container{
    display: flex;
    flex-wrap: nowrap;
  }

  #input-introduction-card{
      margin-bottom: 20px;
  }

  .rule-input-container{
      display: flex;
  }

  .rule-input-container p{
      margin-right: 10px;
  }

  #introduction-input-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
  }

  .like-goal-container{
      display: flex;
      margin: 10px;
  }

  .contributions-amount-profile{
      text-align: center;
      cursor: pointer;
  }

  #button-add-event{
      margin-bottom: 30px;
  }

  .activity-card-button{
      color: green;
      cursor: pointer;
  }

  .like-goal-container select{
      margin: 5px;
      border-radius: 3px;
      border-color: lightgrey;
      max-width: 30%;
  }

  .user-container-activity-card{
      display: flex;
      align-items: center;
  }

  .article-body-container{
      padding: 20px;
      width: 80%;
      border-top: 1px solid lightgray
  }

  .article-body-container p{
      color: #2F2C41;
  }

  .article-body-container li{
    color: #2F2C41;
}

  .article-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .article-card-user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    cursor: pointer;
    margin-top: -38px;
  }

  .article-card-user-container img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    margin-top: -20px;
  }

  .list-inner-container{
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }