#middle-bar{
    width: 60%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#middle-bar h1{
    text-align: center;
}

.card{
    height: auto;
    min-height: 300px;
    width: 90%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .article{
    height: auto;
    min-height: 300px;
    width: 55%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
  }

  .profile{
    width: 55%;
    background-color: white;
    margin-top: 20px;
  }

  .article-inner-div{
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .message-card{
    height: auto;
    width: 55%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 30px 10px 30px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 20px;
  }

  .card-overview{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .plus-icon{
      width: 35px;
      cursor: pointer;
      margin-top: 20px;
  }

  #add-goal-form{
      margin: 30px;
  }

  .goal-card{
      align-items: center;
  }

  .type-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
  }

  .type-container img{
      width: 20px;
      height: 20px;
      margin-right: 10px;
  }

  .goal-card-button{
      margin-top: 100%;
  }

  .activity-card{
      align-items: center;
      padding: 20px 0px 20px 0px;
  }

  .allActivity-banner{
      width: 100%;
  }

  #search-bar{
      width: 70%;
      border-radius: 15px;
      padding: 10px;
  }

  #search-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #button-add-goal{
      display: flex;
      justify-content: center;
  }

  .messagebar-container{
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
      padding: 20px;
      width: 47%;
      position: fixed;
      bottom: 0px;
  }

  .messagebar-container img{
      width: 20px;
      height: 20px;
      margin: 10px;
      cursor: pointer;
  }

  .messagebar-container input{
      width: 78%;
  }

  .profile-photo img{
    width: 40px;
    height: 40px;
    background: #a7bdbd26;
    border-radius: 50%;
    margin-right: 50px;
  }

  .activity-card-banner{
      width: 100%;
  }

  .allActivity-user-photo{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 10px;
  }

  .description-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .username{
      margin-right: 5px;
      cursor: pointer;
      font-weight: bold;
  }

  .user-meta-goal-card{
      display: flex;
  }

  .user-goal-card{
      margin-left: 5px;
      cursor: pointer;
      color: #d11237;
  }

  .user-goal-card:hover{
      font-weight: bold;
  }

  .auth-message-container{
      display: flex;
  }

  .auth-message{
    cursor: pointer;
    margin-right: 5px;
    color: #d11237;
  }

  .goal-detail-container{
      padding-bottom: 90px;
  }

  .all-members-member-container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
  }

  .all-members-member-container img{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }

  .card-container{
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }